<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="K2Field.Utilities.Testing.WF.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="K2Server" connectionString="dlx"/>
    <add name="ManagementServerCS" connectionString="Integrated=True;IsPrimaryLogin=True;Authenticate=True;EncryptedPassword=False;Host=DLX;Port=5555"/>
  </connectionStrings>
  <appSettings>
    <add key="ViewFlowURL" value="http://dlx:81/ViewFlow/ViewFlow.aspx?ViewTypeName=ProcessView&amp;K2Server=DLX:5252&amp;HostServerName=DLX&amp;HostServerPort=5555&amp;ProcessID=" />
    <add key="TestFile"  value="C:\tfs\mf\k2Underground\K2Field.Utilities.Testing.WF.CoreUI\Tests\MarketForm\CreateInitialState.xml"/>
  </appSettings>
  <userSettings>
    <K2Field.Utilities.Testing.WF.UI.Properties.Settings>
      <setting name="K2Server" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="ViewFlowURL" serializeAs="String">
        <value>http://localhost/viewflow</value>
      </setting>
      <setting name="TestFile" serializeAs="String">
        <value>.\test.xml</value>
      </setting>
    </K2Field.Utilities.Testing.WF.UI.Properties.Settings>
  </userSettings>
</configuration>